<div class="container-fluid bg-primary text-light">
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal">Craft coders lab</h5>
  <nav class="text-end">
    <a class="p-2 text-light" [routerLink]="['/home']">Home</a>
    <a class="p-2 text-light" [routerLink]="['/shop']">Shop</a>
    <a class="p-2 text-light" [routerLink]="['/category']">Category</a>
    <a class="p-2 text-light" [routerLink]="['/cart']">Cart</a>
    <a class="p-2 text-light" [routerLink]="['/checkout']">Checkout</a>
    <a class="p-2 text-light" [routerLink]="['/contact']">Contact</a>
    <a class="p-2 text-light" [routerLink]="['/login']">Login</a>
    <a class="p-2 text-light" [routerLink]="['/register']">Register</a>
  </nav>
</div>
</div>