    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-secondary text-li sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link text-light active" aria-current="page" href="/admin/dashboard">
              <span data-feather="home"></span>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/admin/category">
              <span data-feather="file"></span>
              Category
            </a>
          </li>        
          <li class="nav-item">
            <a class="nav-link text-light" href="/admin/supplier">
              <span data-feather="users"></span>
              Supplier
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/admin/employee">
              <span data-feather="bar-chart-2"></span>
              Employee
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/admin/product">
              <span data-feather="bar-chart-2"></span>
              Product
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/admin/purchase">
              <span data-feather="layers"></span>
              Purchase
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/admin/stock">
              <span data-feather="layers"></span>
              Stock
            </a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link text-light" href="/admin/payment">
              <span data-feather="layers"></span>
              Payment
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/admin/customer">
              <span data-feather="layers"></span>
              Customer
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/admin/sell">
              <span data-feather="layers"></span>
              Sell
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/admin/expense">
              <span data-feather="layers"></span>
              Expense
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/admin/role">
              <span data-feather="layers"></span>
              Role
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Saved reports</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link text-light" href="#">
              <span data-feather="file-text"></span>
              Current month
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">
              <span data-feather="file-text"></span>
              Last quarter
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">
              <span data-feather="file-text"></span>
              Social engagement
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">
              <span data-feather="file-text"></span>
              Year-end sale
            </a>
          </li>
        </ul>
      </div>
    </nav>
