<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="row">
    <div class="col-4">
      <h5 class="my-2 py-2 border-bottom bg-secondary text-light p-2">Add New Sell</h5>
      <form [formGroup]="sellFg">
        <div class="mb-3">
          <label for="sell_name" class="form-label">Name</label>
          <input type="text" class="form-control" id="sell_name" formControlName="name">
          <div id="name-help" class="form-text">
            We'll never share your name with anyone else.
          </div>
        </div>
        <div class="mb-3">
          <label for="sell_slug" class="form-label">Slug</label>
          <input type="text" class="form-control" id="sell_slug" formControlName="slug">
        </div>      
        @if (sellFg.controls['updateMode'].value == true) {
        <button type="submit" class="btn btn-info mx-1" (click)="update()">Update</button>
        }
        @else {
        <button type="submit" class="btn btn-primary mx-1" (click)="save()">Save</button>
        }
        <button type="submit" class="btn btn-success mx-1" (click)="search()">Search</button>
        <button type="submit" class="btn btn-success mx-1" (click)="reset()">Reset</button>
      </form>
    </div>
    <div class="col-8">
      <h5 class="my-2 py-2 border-bottom bg-secondary text-light p-2">All Sells</h5>
      <div>
        <table class="table">
          <thead class="table-light">
            <tr>             
              <th>Name</th>             
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sell of sellList$ | async; let i = index">            
              <td>{{sell.name}}</td>              
              <td>
                @if(sell.enabled == true)
                {
                Active
                }
                @else
                {
                Inactive
                }
              </td>
              <td>
                @if(sell.enabled == false)
                {
                <button type="button" (click)="onUpdateClick(sell)"
                  class="btn btn-success waves-effect waves-light mx-1">
                  Make Active
                </button>
                }
                <button type="button" (click)="onUpdateClick(sell)"
                  class="btn btn-info waves-effect waves-light mx-1">
                  Edit
                </button>
                <button type="button" (click)="delete(sell)" class="btn btn-danger waves-effect waves-light mx-1">
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>